<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>keycloakSessionManagementFilter</filter-name>
        <filter-class>org.javaloong.kongmink.keycloak.embedded.EmbeddedKeycloakRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>keycloakSessionManagementFilter</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>keycloak</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServlet30Dispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.javaloong.kongmink.keycloak.embedded.EmbeddedKeycloakApplication</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/auth</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.use.container.form.params</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>keycloak</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>
</web-app>
